{{define "content"}}
<div class="forecast-table">
    <div class="container">
        <div class="forecast-container">
            <div class="today forecast">
                <div class="forecast-content">
                    <div class="degree">
                        <h4 style="text-align: center">Please input city base on ISO 3166</h4>
                        <hr>
                        <h5>
                        <a href="https://www.iso.org/obp/ui/#search/code/ID/">ISO 3166</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}